.container-fluid {
    border: 1px solid black ;
}

.container {
    /* border: 1px solid black ; */
}

.row div {
    /* border: 1px solid blue ; */
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: medium;
}

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important
}

.linkedin img {
    position: absolute;
}

body.contact body.home {
 background-image: url("https://cdn.hipwallpaper.com/i/49/50/zuYNxC.jpg");
 background-color: #cccccc;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

/* .col {
    min-width:300px;
    min-height:300px;
    background-image: url("https://dummyimage.com/350X350/000/fff");
} */
 
.navbar {
font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.a {
    font-weight: 600;
}

#resume {
    border: solid 2px black;
    color: black;
    /* font-size: 1vw; */
    padding: 2px;
    margin-left: 1rem;
    
}

.pic { 
    height: 300px; width: 225px; 
}

.github {
    height: 30px; width: 30px;
}

/* .my-2 {
   height: 300px; width: 240px; 
   object-fit: cover;
} */

footer 
.nav-link 
{
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: large;
color: black;
padding: 3px;
background-color:rgb(47, 126, 150) ;
    position: fixed;
left: 0;
bottom: 0;
width: 100%;
}

body.portfolio {
    background-color: darkseagreen !important;
}

a {
    text-align: center;
    text-decoration: none;
    
}