.container-fluid {
    border: 1px solid black ;
}

.container {
    border: 1px solid black ;
}

.row div {
    border: 1px solid blue ;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

div {
    font-family: 'Courier New', Courier, monospace;
}